h1="Sign Up"
form(method="post")
  table(border="1" cellpadding="10")
    tr
      td	  
    tr
      th="User name"
      td
        input(type="text", name="username")
    tr
      th="password"
      td
        input(type="text", name="password")
    tr
      th="first name"
      td
        input(type="text", name="first_name")
    tr
      th="Last name"
      td
        input(type="text", name="last_name")
    tr
      th="email"
      td
        input(type="text", name="email")
    tr
      th="age"
      td
        input(type="text", name="age")
    tr
      th=" "
      td
        input(type="submit", Value="submit")
