h1="Update"
form(method="post")
  table(border="1" cellpadding="10")
    tr
      td	  
    tr
      th="User name"
      td
        input(type="text", name="username", value="#{data.username}")
    tr
      th="password"
      td
        input(type="text", name="password" , value="#{data.password}")
    tr
      th="first name"
      td
        input(type="text", name="first_name", value="#{data.first_name}")
    tr
      th="Last name"
      td
        input(type="text", name="last_name", value="#{data.last_name}")
    tr
      th="email"
      td
        input(type="text", name="email", value="#{data.email}")
    tr
      th="age"
      td
        input(type="text", name="age", value="#{data.age}")
    tr
      th=" "
      td
        input(type="submit", Value="submit")
